## This is a example of how you will be doing projects in python.
### Use markdown cells -OR- comments in cells to place AT LEAST the question number you are working on.

3.	Import the required packages

In [167]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

4. Using the pandas `read_csv()` method, read the GDP dataset into your notebook as a DataFrame called `gdp_df`. Take a look at the first few and last few rows to familiarize yourself with what is contained in this dataset.

In [170]:
gdp_df = pd.read_csv('../data/gdp_percapita.csv')

In [172]:
gdp_df.head()

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2023  1992.424394              NaN
1     Afghanistan  2022  1981.710168              NaN
2     Afghanistan  2021  2144.166570              NaN
3     Afghanistan  2020  2769.685745              NaN
4     Afghanistan  2019  2927.245144              NaN

In [174]:
gdp_df.tail()

     Country or Area  Year        Value  Value Footnotes
8214        Zimbabwe  1994  3965.730986              NaN
8215        Zimbabwe  1993  3634.750494              NaN
8216        Zimbabwe  1992  3649.891947              NaN
8217        Zimbabwe  1991  4126.405247              NaN
8218        Zimbabwe  1990  4013.299059              NaN

5. How many rows and columns are in `gdp_df`? What are the data types of each column?

In [177]:
print(len(gdp_df))

8219

In [179]:
print(len(gdp_df.columns))

4

6. Drop the `Value Footnotes` column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'.

In [182]:
gdp_df=gdp_df.drop("Value Footnotes",axis=1)
gdp_df=gdp_df.rename(columns={"Country or Area":"Country","Year":"Year","Value":"GDP_Per_Capita"})
gdp_df.head()

       Country  Year  GDP_Per_Capita
0  Afghanistan  2023     1992.424394
1  Afghanistan  2022     1981.710168
2  Afghanistan  2021     2144.166570
3  Afghanistan  2020     2769.685745
4  Afghanistan  2019     2927.245144

7. How many countries have data for all years? Which countries are missing many years of data? Look at the number of observations per year. What do you notice?

In [185]:
print(gdp_df.Year.min())
print(gdp_df.Year.max())
print(gdp_df.Year.max()-gdp_df.Year.min()+1)

1990
2023
34

In [193]:
country_count=gdp_df["Country"].value_counts()==34

all_year_countries=country_count[country_count==True]
print("Countries with all year data :-",len(all_year_countries))

some_year_countries=country_count[country_count==False]
print("Countries with missing data :-",len(some_year_countries))

Countries with all year data :- 228
Countries with missing data :- 19

8. In this question, you're going to create some plots to show the distribution of GDP per capita for the year 2020. Go to the Python Graph Gallery (https://www.python-graph-gallery.com/) and look at the different types of plots under the Distribution section. Create a histogram, a density plot, a boxplot, and a violin plot. What do you notice when you look at these plots? How do the plots compare and what information can you get out of one type that you can't necessarily get out of the others?